@model Usuario
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="text-center">Agregar Usuario</h5>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Create" asp-controller="Usuarios">
            <div class="row">
                <div class="col-5 mb-3">
                    <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre" required />
                </div>
                <div class="col-5 mb-3">
                    <input asp-for="Apellido" type="text" class="form-control" placeholder="Apellido" required  />
                </div>
                <div class="col-5 mb-3">
                    <input asp-for="Correo" type="email" class="form-control" placeholder="Correo" required />
                </div>
                <div class="col-5 mb-3">
                    <input asp-for="Clave" type="password" class="form-control" placeholder="Clave" required />
                </div>
            </div>
            <hr />
            <button type="submit" class="btn btn-info" >Guardar</button>
            <a asp-action="Index" asp-controller="Usuarios" type="button" class="btn btn-secondary">Atras</a>
        </form>
    </div>
</div>

